* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

nav{
    height: 80px;
    padding: 20px;
  
    background: linear-gradient(45deg, black,cyan );
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
button{
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: yellow;
}
#main{
    height: 60%;
    width: 100%;
    background-color: red;
}
#main .card{
    height: 60%;
   
    width:200px ;
    background-color: GREEN;
}