{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href=" {% static 'style.css' %} " />
  <script src="https://kit.fontawesome.com/a2c123f4c2.js" crossorigin="anonymous"></script>
</head>
<body>





     <!-- Include header -->
    {% include 'header.html' %}

    <!-- Main content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Include footer -->
    {% include 'footer.html' %}



     <script src=" {% static 'script.js' %} "></script>
</body>
</html>
