<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table border="1">
        <thead>
            <tr>
                {% for key in student.0.keys %}
                <th>{{ key|title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for d in student %}
            <tr>
                <td>{{ d.roll }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.marks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if number|length > 0 %}

        {% for n in number %}

             {% if n|divisibleby:2 %}

            <div>{{ n }}</div>

            {% endif %}

        {% endfor %}
    {% else %}

    no data found

    {% endif %}






</body>

</html>